common --enable_bzlmod
build --action_env="PATH"
build --action_env="MAGICK_HOME"
build --action_env="GIN_MODE"
build --action_env="PYTHONPATH"

build --enable_platform_specific_config

build --registry=https://bcr.bazel.build

build:macos --macos_sdk_version=14.0
