google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gradio_client
html2text
importlib-metadata
opencv-python
python-dotenv
revChatGPT==6.8.6
split_markdown4gpt
tesserocr==2.5.2
tox
transformers
wand
