beautifulsoup4
# langchain-gpt4free @ git+https://github.com/MIDORIBIN/langchain-gpt4free@main
flask_cors
g4f
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gradio_client
html2text
httpx
importlib-metadata
jinja2
openai
opencv-python
pre-commit
pydantic
pytesseract
pytest
python-dotenv
revChatGPT~=6.8.6
split_markdown4gpt
tesserocr==2.5.2
transformers
wand
watchdog~=3.0.0
