absl-py==1.4.0
aiodns==3.0.0
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.0.0
appdirs==1.4.4
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
Babel==2.12.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
blobfile==2.0.2
Brotli==1.1.0
brotlicffi==1.1.0.0
cachetools==5.3.0
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.1.0
coverage==7.3.1
cryptography==41.0.7
cycler==0.11.0
dataclasses-json==0.6.3
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
devtools==0.12.2
distlib==0.3.7
distro==1.8.0
easyocr==1.7.1
exceptiongroup==1.1.2
executing==1.2.0
faust-cchardet==2.1.19
filelock==3.12.4
Flask==2.3.3
Flask-Cors==4.0.0
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.10.0
future==0.18.3
google-api-core==2.11.1
google-api-python-client==2.99.0
google-auth==2.21.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.60.0
greenlet==3.0.1
grpcio==1.59.3
gssapi==1.8.3
gviz-api==1.10.0
h11==0.14.0
html2text==2020.1.16
httpcore==0.18.0
httplib2==0.21.0
httpx==0.25.0
huggingface-hub==0.18.0
idna==3.4
imageio==2.33.1
importlib-metadata==6.8.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
kiwisolver==1.4.5
langchain==0.0.334
langsmith==0.0.75
lazy_loader==0.3
litellm==1.15.1
lxml==4.9.3
lz4==4.3.2
Markdown==3.4.4
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-enum==1.5.1
matplotlib==3.8.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
ninja==1.11.1
nltk==3.8.1
numpy==1.26.1
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.46
openai==1.6.0
opencv @ file:///private/tmp/nix-build-opencv-4.7.0.drv-0/source/modules/python/package/dist/opencv-4.7.0-py3-none-any.whl#sha256=59748a279d00cd1308e8c4acb7437d72b9a9fbd29bfaa9e55e6ef9faf3148316
opencv-python-headless==4.9.0.80
packaging==23.1
paramiko==3.3.1
Pillow==10.1.0
platformdirs==3.10.0
pluggy==1.3.0
proto-plus==1.22.3
protobuf==4.24.4
psutil==5.9.6
py==1.11.0
pyaml==23.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycares==4.3.0
pyclipper==1.3.0.post5
pycparser==2.21
pycryptodomex==3.18.0
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.16.1
PyJWT==2.8.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyspnego==0.9.2
pytest==7.4.3
pytest-cov==4.1.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2023.12.11
pyupgrade==3.3.1
PyWavelets==1.4.1
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==2.0.0
rsa==4.9
ruamel.base==1.0.0
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
safetensors==0.3.3
scikit-image==0.21.0
scipy==1.11.3
shapely==2.0.2
six==1.16.0
smbprotocol==1.11.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.21
sympy==1.12
tenacity==8.2.3
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboard-plugin-profile==2.11.1
tensorboard-plugin-wit==1.7.0
tifffile==2023.8.30
tiktoken==0.5.1
tokenize-rt==4.2.1
tokenizers==0.14.1
toml==0.10.2
tomli==2.0.1
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
transformers==4.35.2
types-Pillow==10.1.0.2
typing-inspect==0.9.0
typing_extensions==4.7.1
uritemplate==4.1.1
urllib3==2.0.7
virtualenv==20.24.5
Wand==0.6.13
watchdog==3.0.0
Werkzeug==2.3.7
yarl==1.9.2
zipp==3.16.2
